{% extends "gameinsight/base.html" %}


{% block title %} Avaliar jogo {% endblock title %}
    
{% block content %}
<div class="main-container">
    <h2 class="login-title">Avaliar Jogo</h2>
    <form class="form-login" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="jogo">Selecione o jogo</label>
            {{ form.jogo }}
            {% if form.jogo.errors %}
                <ul class="error-list">
                    {% for error in form.jogo.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="comentario">Comentário sobre o jogo</label>
            {{ form.comentario }}
            {% if form.comentario.errors %}
                <ul class="error-list">
                    {% for error in form.comentario.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="nota">Nota do jogo</label>
            {{ form.nota }}
            {% if form.nota.errors %}
                <ul class="error-list">
                    {% for error in form.nota.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <button type="submit" class="btn-create">Cadastrar avaliação</button>
    </form>
</div>
{% endblock %}
