{% extends 'gameinsight/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="main-container-jogos">
        
    {% for jogo in jogos %}
        <a class="jogo-container" href="{% url 'jogos:jogo_detalhes' jogo.id %}">
            {% include 'gameinsight/partials/jogo.html' %}
        </a>
    {% endfor %}
</div>

<div class="pagination-container">
    <nav>
        <ul class="pagination">
            {% if jogos.has_previous %}
                <li>
                    <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-link">Primeira</a>
                </li>
                <li>
                    <a href="?page={{ jogos.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-link">Anterior</a>
                </li>
            {% endif %}

            <li class="current-page">Página {{ jogos.number }} de {{ jogos.paginator.num_pages }}</li>

            {% if jogos.has_next %}
                <li>
                    <a href="?page={{ jogos.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-link">Próxima</a>
                </li>
                <li>
                    <a href="?page={{ jogos.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-link">Última</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div
{% endblock content %}