{% extends 'gameinsight/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="main-container-jogos">
        
    {% for jogo in jogos %}
        <a class="jogo-container" href="{% url 'avaliacoes:jogo_detalhes' jogo.id %}">
            <div class="game-group">
            <div class="capa">
                    <img class="img-jogo" src="{{ jogo.capa.url }}" alt="capa do jogo">  
            </div>
            <div class="informations">
                <div class="nome">
                    <h2 class="game-name">
                        {{ jogo.nome }}
                    </h2>
                </div>
                <div class="media">
                    <ul class="stars">
                        {% if jogo.media >= 1.0 %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% else %}
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% if jogo.media >= 2.0 %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% elif jogo.media >= 1.0 %}
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% if jogo.media >= 3.0 %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% elif jogo.media >= 2.0 %}
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% if jogo.media >= 4.0 %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% elif jogo.media  >= 3.0 %}
                            <li><i class="fa-regular fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li>
                        {% endif %} 
                        {% if jogo.media == 5.0 %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% elif jogo.media >= 4.0 %}
                            <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}