
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #e63946;
}

header h1 {
    color: #e63946;
    font-size: 2rem;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    font-size: 1.5rem;
    border-bottom: 2px solid #e63946;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.featured {
    background: #333;
    padding: 20px;
    border: 2px solid #e63946;
    text-align: center;
    border-radius: 10px;
}

.featured h2 {
    font-size: 1.8rem;
    color: #e63946;
}

.featured p {
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #222;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex-direction: row;
;
}

.card img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.card h3 {
    color: #e63946;
    margin: 10px 0;
}

.card p {
    font-size: 0.9rem;
    color: #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    border-top: 3px solid #e63946;
    margin-top: 20px;
    color: #aaa;
}

.fixed-button {
    background-color: #5e151b;
    color: #fa0707; 
    padding: 10px;
    border: none;
    border-radius: 5px; 
    width: 150px; 
    height: 50px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: inline-block;
    text-align: center; 
}

.fixed-button:hover {
    background-color: #350707; 
}

.header-container {
    background-color: #b70000; /* Cor vermelha do background */
    padding: 10px 20px;
}

.header-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-container li {
    margin: 0 10px;
    font-weight: bold;
    color: white;
}

.header-container li a {
    text-decoration: none;
    color: white;
}

.header-container li a:hover {
    text-decoration: underline;
}

.header-container .search-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.header-container .form-control {
    border-radius: 0; 
}

.header-container .btn {
    border-radius: 0; 
}

.header-container .divider {
    border-left: 1px solid white;
    height: 20px;
    margin: 0 10px;
}