* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: blue;
    color: #fff;
}


.header-container {
    background-color: #c11e26;
    padding: 15px 20px;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 5px;
    gap: 20%;
}

.authenticate-links {
    display: flex;
    min-width: 250px;
    gap: 1.5rem;

}

.item {
    font-weight: bold;
    list-style: none;
}

.link-item {
    text-decoration: none;
    color: white;
}

.link-home {
    min-width: 200px;
}

.main-container {
    width: 40%;
    margin: 8rem auto;
    background-color: #545454;
    padding: 2rem;
    border-radius: 10px;
    color: #fff;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.form-login a {
    text-align: center;
    color: #8bf1ff;
    transition: color 0.3s ease-in-out;
}

.form-login a:hover {
    color: blue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para os campos de erro */
.error-list {
    color: #ff9800;
    font: bold;
    font-size: 0.9rem;
    margin-top: 5px;
    padding-left: 15px;
}

.error-list li {
    list-style-type: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #0056b3;
}

.btn-create {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: 300ms ease-in-out;
}

.btn-create:hover {
    background-color: #066cd8;
}

.btn-login:hover {
    background-color: #066cd8;
}