{% extends "gameinsight/base.html" %}
{% block bloco%}
<main>
    <section>
        <h2 class="section-title">Suas Avaliações</h2>
        <div class="grid">
            {%for jogo in jogos%}
            <div class="card">
                <img src="{{jogo.capa.url}}" alt="{{jogo.nome}}">
                <h3>{{jogo.nome}}</h3>
                <p>Comentário: {{jogo.comentario}}</p>
                <p>Avaliação: {{jogo.nota}}</p>
                <a href="{% url 'editar_jogo' jogo.id%}">
                    <button type="button" style="background-color: #e63946; color: #fff; padding: 10px; border: none; width: 10%; border-radius: 5px;">Editar</button>
                    </button>
                </a>
                <a href="{% url 'excluir_jogo' jogo.id%}">
                    <button type="button" style="background-color: #e63946; color: #fff; padding: 10px; border: none; width: 10%; border-radius: 5px;">Remover</button>
                    </button>
                </a>
            </div>
            {%endfor%}
            </div>
    </section>
</main>
<footer>
    <p>© 2024 GameInsing. Todos os direitos reservados.</p>
</footer>

{% endblock %}
