{% extends "gameinsight/base.html" %}



{% block content %}
    <div class="main-container">
        <h2 class="login-title">LOGIN</h2>
        <form class="form-login" action="{% url 'usuarios:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuário">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary btn-login">Entrar</button>
            <a href="{% url 'usuarios:register' %}">Não tem conta? Cadastre-se</a>
        </form>
    </div>

{% endblock content %}