{% extends 'gameinsight/base.html' %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <div class="profile-container">
        <h2 class="user-name">
            {{ request.user.username }}
        </h2>
        <div class="informations-profile">
            <div class="profile-top">
                <div class="img-profile">
                    {% if request.user.avatar.url != '' %}
                        <img src="{{ request.user.avatar.url }}" alt="Avatar" class="avatar">
                    {% else %}
                        <i class="fa-regular fa-user icon-profile"></i>
                    {% endif %}
                    <h3 class="id-profile">UID: {{ request.user.id }}</h3>
                </div>
                <div class="date-profile">
                    <h3 class="data-profile">Membro desde: <p class="date-profile">{{ request.user.date_joined }}</p></h3>
                </div>
                <a href="{% url 'usuarios:perfil_edit' %}" class="btn-edit">Editar Perfil</a>
            </div>
            <div class="bottom-profile">
                <h3 class="title-comment">último comentário:</h3>
                
                {% if avaliacao %}
                    <div class="last-coment">
                        <div class="img-jogo">
                            <img src="{{ avaliacao.jogo.capa.url }}" alt="jogo-img" class="jogo-img">
                        </div>
                        <div class="user-details">
                            <p>{{ avaliacao.comentario }}</p>
                        </div>
                    </div>
                {% else %}
                    <p>Nenhum comentário ainda.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
    