{% extends 'gameinsight/base.html' %}

{% block content %}
    <div class="main-container">
        <h2 class="login-title">REGISTRO</h2>
        <form class="form-login" action="{% url 'usuarios:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                {{ form.nome_cidade }}
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="password">Confirmar senha</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary btn-login">Cadastrar</button>
            <a href="{% url 'usuarios:login' %}">Já tem conta? Entre</a>
        </form>
    </div>
{% endblock content %}