{% load permission_tags %}

<header>
    <ul class="header-container">
        <li class="item link-home"><a class="link-item" href="{% url 'index' %}">PÁGINA INICIAL</a>
        </li>
        <form action="{% url 'index' %}" method="get" class="search-form">
            <input class="form-control search-input" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name="q" value="{{ request.GET.q }}">
        </form>
        <div class="authenticate-links">
            
            {% if request.user.is_authenticated %}
                {% if user|has_role:'Admin' %}
                    <li class="item link-criar"><a class="link-item" href="{% url 'jogos:jogo_criar' %}">CRIAR JOGO</a></li>
                {% endif %}
                <li class="item link-avaliar"><a class="link-item" 
                    href="{% url 'avaliacoes:avaliacao_criar' %}">AVALIAR JOGO</a></li>
                <li class="item logout-item"><a class="link-item" href="{% url 'usuarios:logout' %}">LOGOUT</a></li>
                <li class="item"><a class="link-item" href="{% url 'usuarios:perfil' %}">PERFIL</a></li>

            {% else %}
                <li class="item"><a class="link-item" href="{% url 'usuarios:register' %}">INSCREVER-SE</a></li>
                <li class="item"><a class="link-item" href="{% url 'usuarios:login' %}">LOGIN</a></li>
            {% endif %}
        </div>
    </ul>
</header>
